body {
  background-color: hsl(30, 54%, 90%);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  font-family: "Young Serif";
}

p, ol, ul, table {
  font-family: "Outfit";
  color: hsl(30, 10%, 34%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  height: 1000px;
  width: 600px;
  padding: 30px;
}

.header-photo {
  width: 100%; 
}

.bold, .value, li::marker {
  font-weight: bold;
}

.bold {
  color: hsl(24, 5%, 18%);
}

h2, .value, li::marker {
  color: hsl(14, 45%, 36%);
}

hr {
  color: hsl(30, 18%, 87%);
}

.description {
  margin-bottom: 50px;
}

.prep-div {
  background-color: hsl(330, 100%, 98%) ;
  height: 170px;
  margin-top: -20px;
}

.prep-div li {
  margin-top: 4px;
  padding-top: 5px;
}



.prep-title {
  color:hsl(332, 51%, 32%);
  font-size: 20px;
  padding-left: 15px;
  padding-top: 15px;
}